/**
 * Reset
 */
$reset-focus-outline: true !default;

@import "~normalize.css/normalize.css";

/* stylelint-disable selector-max-type */
/* Exception for the reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr,
button {
	padding: 0;
	margin: 0;
}

button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	cursor: pointer;
}

fieldset {
	border: 0;
}

address {
	font-style: normal;
}

@if $reset-focus-outline {
	[data-whatinput="mouse"] *:focus,
	[data-whatinput="touch"] *:focus {
		outline: none;
	}
}

/* stylelint-enable selector-max-type */
