/**
 * SVG
 */

/* stylelint-disable selector-max-type */
/* Exception for svg elements */
svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke: transparent;
}
/* stylelint-enable selector-max-type */
